<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KU Hybrid Quiz App - Add Short Answer Question</title>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script type="text/javascript" src="controllers.js"></script>
</head>
<body ng-app="myApp">

<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add Short Answer Question to {{ global.quizzes[global.currentQuizIndex].title }}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content style="min-width:600px;min-height:300px;">
        <div layout="column" md-padding style="width: 100%;padding: 2%">
            <md-input-container class="md-block">
                <label>Question Text</label>
                <textarea ng-model="questionText" rows="5"></textarea>
            </md-input-container>

            <md-radio-group ng-model="answerType" ng-change="typeChanged()">
                <md-radio-button value="text">Text Based Answer</md-radio-button>
                <md-radio-button value="number">Number Based Answer</md-radio-button>
            </md-radio-group>

            <div ng-show="isText">
                <md-input-container class="md-block">
                    <label>Answer</label>
                    <input type="text" ng-model="answer"/>
                </md-input-container>
            </div>

            <div ng-show="isNumber" layout="row">
                <md-input-container class="md-block">
                    <label>Lower Bound</label>
                    <input type="number" ng-model="rangeLower">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Upper Bound</label>
                    <input type="number" ng-model="rangeUpper">
                </md-input-container>
            </div>
        </div>
        <table style="position: absolute; bottom: 0%;width: 100%">
            <tr>
                <td width="50%" align="right">
                    <md-button class="md-raised md-warn" ng-click="cancel()">Cancel</md-button>
                </td>
                <td width="50%" align="left">
                    <md-button class="md-raised md-primary" ng-click="submit()">Save</md-button>
                </td>
            </tr>
        </table>
    </md-dialog-content>
</md-dialog>

</body>
</html>